body{
    background-image: url("https://img.freepik.com/free-vector/gradient-abstract-background-with-diagonal-lines_23-2150594514.jpg?w=996&t=st=1695430082~exp=1695430682~hmac=0cf581b8e439ae9313626ebc5f8e541fa31526826f7598bd3886891c926469ab");
    background-size: auto;
}

main{
    margin: auto;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(212, 214, 215, 0.5);
}

h2{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

p{
    font-size: 20px;
    text-align: justify;
}
.container{
    margin: 10px;
}

picture{
    padding: 10px;
    display: flex;
    justify-content: center;
}

label{
    font-size: 20px;
    margin-left: 30px;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 30%;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#resultado{
    margin-left: 50px;
    font-weight: bold;
    font-size: x-large;
    color: red;
    background-color: yellow;
}

.resultado{
    margin-left: 30px;
    padding: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.home{
    top: 10px;
    left: 6px;
    position: absolute;

}